<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Works Cited</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/css/static.css" rel="stylesheet"> <!-- Link to custom CSS -->
    
    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/images/Logo.png" alt="Logo" style="height: 40px;">
            </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard1">Census Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard2">CKD Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index">CKD Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content Section -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Works Cited</h1>
            </div>
        </div>
    </div>
    <hr class="mx-5" />
    <br/>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6">
                <h2>Chronic Kidney Disease Dataset</h2>
                <p>Dataset was supplied by Kaggle and contains detailed health information for 1,659 patients.</p>
                <p><a href="https://www.kaggle.com/datasets/rabieelkharoua/chronic-kidney-disease-dataset-analysis/data" style="color: #B73E44;">Dataset</a></p>
                <br/>
                <h2>Census Data</h2>
                <p>Data supplied by Census.gov.</p>
                <p><a href="https://data.census.gov/table/" style="color: #B73E44;">Census Dataset</a></p>
                <br/>
                <h2>Tableau Public</h2>
                <p>CKD Patients EDA by Diamandis, D.</p>
                <p><a href="https://public.tableau.com/app/profile/dimitris.diamandis/viz/CKDPatientsEDA/Dashboard1" style="color: #B73E44;">Census Dataset</a></p>
                <br/>
                <h2>Bootstrap</h2>
                <p>Some card styling is from Bootstrap.</p>
                <p><a href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" style="color: #B73E44;">Card Style</a></p>
            </div>
            
            <div class="col-md-6">
                <img src="/static/images/WorksCitedImage.png" 
                     alt="Abstract kidney" 
                     class="img-fluid rounded mx-auto d-block"
                     style="max-height: 700px;">
            </div>
        </div>
    </div>
    <br/>
    <br/>
</body>

</html>
