<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chronic Kidney Disease</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/united/bootstrap.min.css", rel="stylesheet">
    <link href="/static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body style="background-color: #EEE9EC; min-height: 100vh;"></body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg" style="background-color: #B73E44;" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="Chronic Kidney Disease.png" alt="Logo" style="height: 40px;">
            </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard1">Dashboard1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard2">Dashboard2</a>
                </li>
                <li class="nav-item"></li>
                    <a class="nav-link" href="/machinelearning">Machine Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/works_cited">Works Cited</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Dashboard -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Works Cited</h1>
            </div>
        </div>
     </div>
     <hr style="border: 0; height: 2px; background-color: #000000; margin-left: 100px; margin-right: 100px;" />
     <br/>
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Chronic Kidney Disease Dataset</h2>
                <p>Dataset was supplied by Kaggle.</p>
                <p><a href="https://www.kaggle.com/datasets/rabieelkharoua/chronic-kidney-disease-dataset-analysis/data" style="color: #B73E44;">Dataset</a></p>
                <br/>
                <h2>Census Data</h2>
                <p>Data supplied by Census.gov.</p>
                <p><a href="https://data.census.gov/table/" style="color: #B73E44;">Dataset</a></p>
                <br/>
                <h2>Bootswatch</h2>
                <p>United theme was supplied by Bootswatch.</p>
                <p><a href="https://bootswatch.com/united/" style="color: #B73E44;">United Theme</a></p>
                <br/>
                <h2>iStock Photos</h2>
                <p>Stock Medical/Kidney Pictures.</p>
                <p><a href="https://www.istockphoto.com/" style="color: #B73E44;">iStockphoto</a></p>
            </div>
            
            <div class="col-md-6">
                <img src="https://media.istockphoto.com/id/154962461/photo/healthy-human-kidney-on-white-background.jpg?s=1024x1024&w=is&k=20&c=fAHhUQD-cRGJkoFhRs727Ei_-U3ZVdGsgD7LH7svbs8=" 
                    alt="Healthy human kidney on white background Kidney Stone Stock Photo" 
                    class="img-fluid"
                    style="max-width: 100%; height: 100%; max-height: 700px;">
            </div>
        </div>
    </div>
     <br/>
     <br/>
</body>

</html>
